
.row{
    display: flex;
}

.flex-center{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

/* CAPACIDAD PARA SIZES PEQUEÑAS, MODIFICA NAVBAR HACIA ABAJO */
@media screen and (max-width: 700px) {
    .navbar, .row {
        flex-direction: column;
    }
}


