label{
    display: block;
    font-family: 'arial';
    font-weight: bold;
}

.form-container{
    width: 500px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;
    border: #173441 2px solid;
    border-radius: 10px;
    background-color: #bed2dd;
}

@media screen and (max-width: 700px) {
    .form-container {
       width: 80%;
    }
}

form{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

input{
    width: calc(100% - 20px);
    display: block;
    margin-top: 8px;
    padding: 10px;;
    background-color: #fdfef7;
    border: #173441 1.8px solid;
    border-radius: 8px;;
}

fieldset{
    border: none;
}

button{
    background-color: #fdfef7;
    border: #173441 1.8px solid;
    width: 200px;
    font-family: 'arial';
    font-size: 16px;  
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
}

.tab{
    border-collapse: collapse;
    text-align: center;
    font-family: 'arial';
    background-color: #fdfef7;
    border: #173441 2px solid;
    margin: 0 auto;
    width: 500px;
}

thead{
    border: #173441 2px solid;
    font-weight: bold;
}

tr{
    border: #173441 2px solid;
}

td{
    border: #173441 2px solid;    
}

#resultado {
    text-decoration: dashed;
    font-size: 25px;
    text-align: center;
    width: 100%;
}